# Copyright 2020 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_INT_WDT=
CONFIG_TASK_WDT=
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# SIMON IAVOZ
#
CONFIG_IAVOZ_ENABLE=y
CONFIG_IAVOZ_SYS_TASK_STACK_SIZE=7168
CONFIG_IAVOZ_SYS_TASK_PRIORITY=5
CONFIG_IAVOZ_MIC_TASK_STACK_SIZE=7168
CONFIG_IAVOZ_MIC_TASK_PRIORITY=5
CONFIG_IAVOZ_MIC_I2S_NUM=1
CONFIG_IAVOZ_MIC_I2S_PIN_BCK=13
CONFIG_IAVOZ_MIC_I2S_PIN_WS=0
CONFIG_IAVOZ_MIC_I2S_PIN_DIN=22
